$maincolor:#121212;
$subcolor:#0000009A;
$lightcolor:#FFFFFFDE;
$lightercolor:#FFFFFF99;
$highlight:#0E8A00;

@mixin bigTittle {
    @include fontsize(48, 64)
}

@mixin logo {
    @include fontsize(24, 29)
}

@mixin subTittle {
    @include fontsize(24, 36);
}

@mixin smallTittle {
    @include fontsize(24, 28);
}

// 有的用變數、有的用mixin的原因是想多練習

img {
    max-width: 100%;
    height: auto;
    display: block;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

.material-icons {
    cursor: pointer;
}

.raleway {
    font-family: 'Raleway', sans-serif;

}

.roboto {
    font-family: 'Roboto', sans-serif;
}