.container-fluid {
    position: relative;
    margin-top: -65.99px;

    @include lg-width {
        margin-top: -77.98px;
    }
}

@media(max-width:575px) {
    .banner .container .row .col-lg-2 {
        padding-left: 0;
        padding-right: 0;
        //因為在container-fluid裡面包了container，導致元件比預設的還小，所以下段語法讓樣式正常，不確定這樣是否合適？
    }
}


.bannerBg {
    background: url("../images/tom-crew-5HRCkrSs9Dk-unsplash.jpg") center;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;

    @include lg-width {}
}

.bannerBgOpacity {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.38);

    @include lg-width {
        background: none;
    }
}


.bannerText {
    h2 {
        color: #ffffff;
        font-weight: bold;
        @include bigTittle;
        text-align: center;
        margin-top: 188px;
        margin-bottom: 24px;

        @include lg-width {
            color: $maincolor;
            text-align-last: left;
            margin-top: 236px;
        }

    }

    p {
        color: $lightercolor;
        text-align: center;
        margin-bottom: 108px;

        @include lg-width {
            color: $maincolor;
            text-align-last: left;
            @include subTittle;
            color: $subcolor;
            margin-bottom: 48px;
        }

    }
}

.shopBtn {
    width: 100%;
    padding-top: 19px;
    padding-bottom: 18px;
    margin-bottom: 24px;

    @include lg-width {
        margin-bottom: 236px;
    }

}

.information {
    padding-top: 48px;
    padding-bottom: 24px;

    .row:last-child img {
        @include lg-width {
            margin-bottom: 72px;
        }
    }

    @include lg-width {
        padding-bottom: 0;
    }

    img {
        margin-bottom: 16px;

        @include lg-width {
            margin-bottom: 32px;
        }
    }

    .infoText {

        @include lg-width {
            width: 64.8%;
        }

        h3 {
            @include fontsize(24, 24);
            font-weight: bold;
            margin-bottom: 16px;
        }

        p {
            color: $subcolor;
            @include fontsize(16, 24);
            margin-bottom: 24px;
        }

        a {
            @include fontsize(16, 19);
            color: $highlight;
            font-weight: bold;
            display: block;
            margin-bottom: 24px;
        }
    }
}

.artDirectorBg {
    background: url("../images/burningparrot-u2Xn5Bzvllw-unsplash.jpg") center;
    background-size: cover;
    padding-top: 24px;
    padding-bottom: 24px;

    @include lg-width {
        padding-top: 150px;
        padding-bottom: 154px;
    }

    h2 {
        color: #fff;
        @include fontsize(32, 48);
        margin-bottom: 125px;
        font-weight: bold;

        @include lg-width {
            margin-bottom: 0;
        }

    }

    .directorText {

        p {
            @include fontsize(16, 24);
            color: $lightercolor;
            margin-bottom: 4px;

            @include lg-width {}

        }

        h3 {
            color: #ffffff;
            @include fontsize(24, 24);
            margin-bottom: 16px;
            font-weight: 400;


        }

        a {
            color: $highlight;
            @include fontsize(14, 16);
            font-weight: bold;
            margin-right: 24px;

            @include lg-width {}

        }
    }
}

.items {
    padding-top: 48px;
    padding-bottom: 48px;
    overflow: hidden;

    @include lg-width {
        padding-top: 72px;
        padding-bottom: 72px;
    }

    .card {
        border: none;
        position: relative;

        img {
            width: 240px;
            height: 240px;
            margin-bottom: 8px;
            object-fit: cover;

            @include lg-width {
                width: 350px;
                height: 350px;
            }
        }
    }

    .card-body {
        padding: 0;
    }

    h3 {
        font-weight: bold;
        margin-bottom: 4px;
        @include subTittle;
        color: $maincolor;
    }

    p {
        display: inline;
        @include fontsize(16, 24);
        margin-right: 8px;
    }

    strike {
        @include fontsize(16, 24);
        color: #00000062;
    }

    span {
        @include fontsize(14, 21);
        font-weight: bold;
        position: absolute;
        top: 16px;
        right: 16px;
        color: #ffffff;
    }


    //以下為swiper
    .swiper-container {
        overflow: unset;
        cursor: grab;
    }

    .swiper-slide {
        font-size: 18px;
        background: #fff;
        width: unset;
        margin-right: 16px;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        @include lg-width {
            margin-right: 30px;
        }

    }

}