.header {
    padding: 18px 15px;
    position: relative;
    z-index: 3;

    @include lg-width {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .cart {
        color: #fff;
    }

    .hamburgerIcon {
        color: #fff;

        @include lg-width {
            display: none;
        }
    }

    h1 {
        font-weight: 900;
        font-style: italic;

        a {
            color: #fff;
        }

        @include logo;


        @include lg-width {

            a {
                color: $maincolor;
            }

        }
    }

    .linkInner {
        @include lg-width {
            color: #fff;
        }

        span {
            @include lg-width {
                margin-left: 48px;
            }
        }
    }

    h3 a {
        display: none;

        @include lg-width {
            display: block;
            color: #fff;
            @include fontsize(16, 19);
            font-weight: normal;
            margin-bottom: 0;
            margin-left: 48px;
        }

    }

}

.hamburgerList {
    background: #fff;
    width: 100%;
    padding-top: 20px;
    position: absolute;
    top: 0;
    left: -101vw;
    z-index: 3;
    transition: 0.3s;

    .listHeader {
        margin-bottom: 32px;
    }

    p a {
        @include smallTittle;
        color: $maincolor;
        margin-bottom: 16px;
        display: block;
        width: 100%;
        border-bottom: 1px solid #00000062;
        margin-bottom: 0;
        padding-top: 16px;
        padding-bottom: 16px;


    }

    @include lg-width {
        display: none;
    }
}

.accordion>.card {
    border: none;
    overflow: unset;

    .card-header {
        border-bottom: 1px solid #00000062;
        background: #ffffff;
        padding: 0;

        .btn-link {
            padding: 0;
            width: 100%;
            @include smallTittle;
            color: $maincolor;
            margin-bottom: 16px;

            &:hover {
                text-decoration: none;
            }

            .material-icons {
                transition: 0.35s;
            }

            .rotate {
                transform: rotate(180deg);
            }
        }
    }

    .card-body {
        padding: 0;

        ul {
            margin-bottom: 0;
            padding: 0;
            list-style: none;
            padding-top: 8px;
            padding-bottom: 8px;
            border-bottom: 1px solid #00000062;
        }

        li a {
            color: #0000009A;
            @include fontsize(16, 19);
            padding-top: 8px;
            padding-bottom: 8px;

        }

        span {

            @include fontsize(10, 14);
        }
    }


}

.accordion p:last-child {
    margin-bottom: 215px;
}

.show {
    left: 0;
}


.subscribeBg {
    background: url("../images/tom-crew-uDF1mW7EUwM-unsplash.jpg") center no-repeat;
    background-size: cover;

    @include lg-width {}
}

.subscribeOpacity {
    background: rgba(0, 0, 0, 0.38);

    @include lg-width {
        background: none;
    }
}

.subscribe {
    padding-top: 24px;

    @include lg-width {
        padding-top: 84px;
        background: none;
        opacity: 1;
    }

    h2 {
        @include fontsize(32, 48);
        color: #ffffff;
        font-weight: bold;
        margin-bottom: 24px;


        @include lg-width {
            @include bigTittle;
            margin-bottom: 48px;
        }
    }
}

.subscribeForm {
    margin-bottom: 24px;

    @include lg-width {
        margin-bottom: 84px;
    }

    &>input {
        @include fontsize(16, 24);
        height: 100%;
        padding: 19px 16px 18px 16px;
        background: transparent;
        border: 1px solid $lightercolor;
        color: #ffffff;

        &::placeholder {
            color: $lightercolor;
        }
    }

    .input-group-append input {
        @include fontsize(16, 24);
        padding: 15px 24px;

        @include lg-width {
            padding: 16px 44px;
        }
    }
}

footer {
    background: #000;
    padding-top: 23px;

    @include lg-width {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .mainLogo {
        font-weight: 900;
        font-style: italic;
        margin-bottom: 48px;
        @include logo;

        @include lg-width {
            color: $maincolor;
            margin-bottom: 0;
        }

        a {
            color: #fff;

            @include lg-width {
                margin-right: 16px;
            }
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin-bottom: 32px;

        @include lg-width {
            margin-bottom: 0;
        }

        li {
            margin-bottom: 16px;

            @include lg-width {
                margin-bottom: 0;
                margin-left: 48px;
            }
        }

        a {
            @include fontsize(14, 16);
            color: $lightcolor;
        }
    }

    .copyRight {
        @include fontsize(14, 16);
        color: $lightercolor;
        margin-bottom: 24px;

        @include lg-width {
            margin-bottom: 0;
            line-height: 32px;
        }
    }
}

//modal
.modal-dialog {
    margin: 0;
    width: 100vw;

    @include lg-width {
        position: absolute;
        right: 0;
        max-width: unset;
        width: 540px;
    }
}

.modal-content {
    border: none;
    border-radius: 0;

    @include lg-width {}

}

.modal-header {
    padding: 15px;
    padding-bottom: 0;
    border-bottom: none;

    @include lg-width {
        padding: 54px 48px 0 48px;
        margin-bottom: 28px;
    }

    h5 {
        @include fontsize(24, 64);
        font-weight: bold;

        @include lg-width {
            @include fontsize(48, 64);
        }
    }

    sup {
        color: $highlight;
    }

    .material-icons {
        @include lg-width {
            @include fontsize(48, 64);
        }
    }
}

.modal-body {
    padding: 15px;
    padding-top: 0;

    @include lg-width {
        padding: 0 48px 48px 48px;
    }

}

.modal-footer {
    padding: 15px;
    border-top: none;

    .btn-success {
        width: 100%;
        padding-top: 19px;
        padding-bottom: 18px;
    }
}

.toastArea {
    @include lg-width {}

    .toast {
        box-shadow: none;

        @include lg-width {
            max-width: unset;
            width: 100%;
        }
    }

    .toast:first-child {
        margin-bottom: 16px;
    }

    .toast:last-child {
        margin-bottom: 24px;
    }
}

.toast-header {
    padding: 0;

    img {
        width: 96px;
        height: 96px;
        object-fit: cover;

        @include lg-width {
            width: 112px;
            height: 113px;
        }
    }


}

.toast-body {
    background: #F2F2F2;
    padding: 8px;
    width: 72%;

    @include lg-width {
        width: 82.2%;
        padding: 16px;
    }

    h4 {
        margin-bottom: 0;
        font-size: 16px;
        font-weight: bold;
    }

    .material-icons {
        font-size: 19px;
    }

    .cartListPrice {
        margin-bottom: 12px;

        span {
            font-size: 14px;
        }

        strike {
            font-size: 12px;
            color: #00000062;
        }
    }

    .numberBtn {
        @include lg-width {
            width: 33%;
        }

        .numberArr {
            margin: 0 12px;
        }

        .material-icons {
            padding: 0 12px;
        }
    }

    .listItemCounter p {
        font-weight: bold;
        font-size: 16px;
    }

}

.totalInner {
    @include lg-width {
        width: 81%;
    }

    a {
        @include lg-width {
            padding-top: 19px;
            padding-bottom: 18px;
        }
    }
}

.subtotal p,
.shipping p {
    @include fontsize(16, 36);
    color: #0000009A;
}

.shipping {
    margin-bottom: 24px;
}

.mainTotal {
    margin-bottom: 178px;

    @include lg-width {
        margin-bottom: 24px;
    }

    h4 {
        @include fontsize(24, 36);
        font-weight: bold;
    }
}